/* 
    Este es un reset CSS universal. Selecciona todos los elementos (*) y establece sus márgenes (margin) y rellenos (padding) a 0. 
    Esto se hace para eliminar las diferencias de estilo predeterminadas entre los navegadores, proporcionando un punto de partida consistente para el diseño.
*/

* { 
    margin: 0px; padding: 0px;  
}

/* 
    Se establece el tamaño de fuente predeterminado en 62.5% para que sea más fácil calcular los tamaños de fuente con un valor de 10px = 1em.
    Esto se hace para que el tamaño de fuente sea más fácil de escalar y que sea más consistente en diferentes navegadores.
*/
h1 { font: bold 2em verdana, sans-serif; }
h2 { font: bold 1.5em verdana, sans-serif; }
h3 { font: bold 1em verdana, sans-serif; }

/*
    Se centra el cuerpo de la página para que el contenido se muestre en el centro de la página.
    Posteriormente veremos que esto solo nos centrará el contenido enlinea de la página, pero no las cajas.
*/
body { text-align: center; }

/*
    Se establece el ancho de la página en 960px y se centra horizontalmente.
    Esto se hace para que el contenido de la página no se extienda demasiado y sea más fácil de leer.
*/
#page { width: 960px; margin: 15px auto; text-align: left; }

/*
    Se establece el ancho de la cabecera en 100% y se establece un color de fondo y un borde.
    Esto se hace para que la cabecera se extienda por toda la página y sea más fácil de ver.
*/
#header { background: #FFFBB9; border: 1px solid #999999; padding: 20px; }
